.container {
  width: 95%;
  margin: 0 auto;
}

.search-input {
  width: 50%;
  margin: 0 auto;
}

.history-entry {
  padding: 0.5rem 0;
  border-bottom: 1px solid $pr-ocean;
}

.floating {
  position: absolute;
  // top: 50px;
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all 0.2s;
}
