.layout {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 250px auto;
}

.locations {
  color: #fff;
  background-color: $pr-ocean;
  // min-width: 20%;
  // min-height: 90vh;
  // padding: 1rem 0.5em;
}

.items {
  background-color: $gray-800;
  // background-color: rgba($pr-warm, 0.5);
  // height: 90vh;
  // min-width: 80%;
}
