.edit-button {
  height: 1.8rem;
  width: 1.8rem;
  padding: 0.25rem;
  background-color: $pr-navy;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &-icon {
    width: 16px;
    height: 16px;
    transition: all 0.2s;
  }

  &:hover &-icon {
    transform: rotateZ(45deg);
  }
}
