.inventory-list {
  padding: 0 2rem;
  position: relative;
  @include respond(medium) {
    padding: 0 0.75rem;
  }

  .search {
    width: 25%;
    @include respond(medium) {
      width: 100%;
    }
  }

  &-top-row {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    gap: 0.5rem;
    // margin-left: 1rem;

    .current-location {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.25rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    .add-new-btn {
      margin-left: auto;
      // margin-right: 1rem;
    }
  }
}
