.table-wrapper {
  overflow: auto;
  background-color: #fff;
  // padding: 0 0.5rem;
  // margin: 0 1rem;
  border-radius: 5px;
}

.table-grid {
  display: grid;
  width: 100%;
  // grid-template-columns: 3fr repeat(4, 1fr);
  grid-template-columns: minmax(350px, 3fr) repeat(4, minmax(150px, 1fr));
  align-items: stretch;

  @include respond(medium) {
    grid-template-columns: minmax(200px, 2fr) repeat(4, minmax(100px, 1fr));
  }

  & > * {
    display: flex;
    align-items: center;
  }

  .header {
    text-transform: uppercase;
    // background-color: lighten($pr-warm, 0.5);
    color: $pr-navy;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid $pr-punch;
  }
  .row {
    padding: 0.25rem 0;
    border-bottom: 1px solid $pr-warm;
    font-size: 0.9rem;
    &.selected {
      background-color: lighten($pr-ocean, 15);
    }

    & span.txt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .item {
    overflow: hidden;
    cursor: pointer;

    &-img {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5px;
      background-color: gray;

      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      height: 40px !important;
      min-width: 40px !important;
    }
    &-txt {
      position: relative;
      margin-left: 1rem;
      padding: 1rem 0;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &-txt:hover .edit-btn {
      display: flex;
      align-items: center;
      opacity: 1;
    }

    .edit-btn {
      background-color: #fff;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      animation: appeareance 0.15s ease-in;
    }
  }

  .sn {
    padding: 0 0.25rem;
    justify-content: center;
  }

  .location {
    padding: 0 0.25rem;
    justify-content: center;
  }
  .responsible {
    padding: 0 0.25rem;
    justify-content: center;
  }
  .status {
    justify-content: center;
  }
  .date {
    justify-content: center;
  }
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  flex-shrink: 0;

  input[type='checkbox'] {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
