.location-list {
  @include respond(medium) {
    padding-bottom: 1rem;
  }
  .all-items {
    font-size: larger;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.75rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    // justify-content: space-between;
    &:hover,
    &-selected {
      // color: purple;
      background-color: $pr-punch;
      // font-weight: 700;
      // text-decoration: underline;
    }
  }

  &-entries {
    margin-right: 0.5rem;
  }

  .open-folder-icon {
    width: 1.5rem;
    // height: auto;
    margin-right: 1rem;
  }
}

.history {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &-link {
    text-transform: uppercase;
    margin-left: 0.5rem;
  }
}
