.modal-backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  inset: 0px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  max-width: 90%;
  max-height: 90%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: transform 0.35s, opacity 0.2s;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  border-radius: 10px;
  box-shadow: rgb(43 44 57 / 14%) 0px 6px 20px;
  width: 480px;

  &--visible {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }

  &-header {
    font-size: 1.25rem;
    text-align: center;
    padding: 0.75rem 0;
    background-color: $pr-ocean;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .form {
    // flex-direction: column;
    padding: 0 2rem;

    &-buttons {
      padding: 0.5rem 2rem 1rem;
      display: flex;
      justify-content: space-between;
    }
  }

  .image-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-item-image {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .close-icon {
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;
      width: 2rem;
      height: 2rem;
      background-color: $pr-punch;
      color: #fff;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: darken($pr-punch, 10);
      }
    }
  }
}
