.btn {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-transform: uppercase;

  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 600;

  border-radius: 5px;
  padding: 0.3rem 1rem;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-punch {
  background-color: $pr-punch;
  &:hover,
  &:active {
    background-color: darken($color: $pr-punch, $amount: 5);
  }
}
.btn-navy {
  background-color: $pr-navy;
  &:hover,
  &:active {
    background-color: darken($color: $pr-navy, $amount: 5);
  }
}
.btn-ocean {
  background-color: $pr-ocean;
  &:hover,
  &:active {
    background-color: darken($color: $pr-ocean, $amount: 5);
  }
}
.btn-warm {
  background-color: $pr-warm;
  &:hover,
  &:active {
    background-color: darken($color: $pr-warm, $amount: 5);
  }
}
